.container{
    border: 5px solid red;
    display: flex;
    flex-direction:row;
    justify-content:initial;
    margin:5px auto;
}
.container1{
    border: 5px solid red;
    display: flex;
    flex-direction:row;
    justify-content:center;
    margin:5px auto;
}

.container2{
    border: 5px solid red;
    display: flex;
    flex-direction:row;
    justify-content:flex-end;
    margin:5px auto;
}

.gridbox{
    border: 5px solid rgb(11, 214, 221);
    display: grid;
    justify-content:baseline;
    margin:5px auto;
}

.gridbox1{
    border: 5px solid rgb(11, 214, 221);
    display: grid;
    justify-content:center;
    margin:5px auto;
}

.gridbox2{
    border: 5px solid rgb(11, 214, 221);
    display: grid;
    justify-content:end;
    margin:5px auto;
}
.box1,.box2,.box3{
    width: 50px;
    height: 50px;
    margin: 5px;
}
.box1{
    background-color: aqua;
    border-radius: 5px;
}

.box2{
    background-color: rgb(255, 0, 0);
    border-radius: 5px;
}

.box3{
    background-color: rgb(47, 0, 255);
    border-radius: 5px;
}
